.profile {
  margin: 3rem auto;
  text-align: center;
}

.profile h1 {
  font-size: 5rem;
}
.delete
{
  vertical-align: middle;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  background-color:rgb(233, 108, 86);
  color: white;
  margin-top: 5%;
  margin-right: 8%;
}
button:hover
{
  background-color: red;
}